<footer class="bg-light text-dark py-3 mt-5 position-relative  bottom-0 w-100 ">
    <div class="container text-center ">
        <div class="d-flex justify-content-center align-items-center gap-3 mb-2">
            <a href="#" class="text-dark fs-4"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#" class="text-dark fs-4"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="text-dark fs-4"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="mb-2">&copy; 2025 Stayspot Private Limited.</div>

        <div>
            <a href="/privacy" class="text-dark text-decoration-none me-3">Privacy</a>
            <a href="/terms" class="text-dark text-decoration-none">Terms</a>
        </div>
    </div>
</footer>

<!-- FontAwesome Icons -->
<script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
